* {
  padding: 0%;
  margin: 0%;
}

html {
  font-size: 62.5%;
}

/* main */
.img-h {
  height: 80px;
  width: 100px;
}

@media (min-width: 800px) {
  .p-hh {
    font-size: 2rem;
  }
  .img-h {
    height: 300px;
    width: 300px;
  }
  .col {
    display: flex;
    flex-direction: column;
  }
}
* {
  margin: 0%;
  padding: 0%;
}

html {
  font-size: 62.5%;
  background-color: black;
}

/* main */
.conteinergrid2 {
  display: flex;
  flex-direction: column;
}
.conteinergrid2 .item1 p {
  color: goldenrod;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.conteinergrid2 .item2 img {
  width: 300px;
  height: 200px;
}
.conteinergrid2 .item3 p {
  margin-top: 20px;
  color: goldenrod;
}
.conteinergrid2 .item3 img {
  height: 100px;
  width: 100px;
}

@media (min-width: 800px) {
  .conteinergrid2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "item1 item1 item1" "item2 item3 item3" "item2 item3 item3";
  }
  .item1 {
    grid-area: item1;
  }
  .item1 p {
    font-size: 2rem;
  }
  .item2 {
    grid-area: item2;
    margin-top: 80px;
  }
  .item3 {
    grid-area: item3;
  }
  .item3 p {
    font-size: 2rem;
  }
}
html {
  font-size: 62.5%;
}

::-webkit-scrollbar {
  display: none;
}

/* rock */
.padre {
  display: flex;
  flex-direction: column;
}
.padre .item1 p {
  font-size: 1rem;
}
.padre .item2 img {
  height: 80px;
  width: 80px;
}
.padre .item3 p {
  color: orangered;
}

@media (min-width: 720px) {
  .padre .item1 .p-rock {
    font-size: 1.8rem;
  }
  .padre .item2 img {
    height: 200px;
    width: 200px;
  }
  .padre .item3 p {
    color: red;
  }
}
* {
  margin: 0%;
  padding-left: 0%;
}

html {
  font-size: 62.5%;
}

/* main */
.animacion {
  color: goldenrod;
  text-align: center;
  margin: 10px auto;
  animation-name: musica;
  animation-duration: 4s;
  animation-iteration-count: 2;
  animation-delay: 3s;
}

@keyframes musica {
  0% {
    color: goldenrod;
  }
  25% {
    color: red;
    transform: skew(20deg);
  }
  75% {
    color: red;
  }
  100% {
    color: goldenrod;
  }
}
.parrafo {
  color: greenyellow;
  font-size: 1.5rem;
}

.contenedor {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.contenedor img {
  height: 80px;
  width: 80px;
}

footer {
  height: 100%;
}
footer .m-f {
  display: flex;
  justify-content: space-evenly;
}
footer .p-de-f {
  color: black;
  font-size: 1rem;
  text-align: center;
}

@media (min-width: 800px) {
  main .parrafo {
    color: white;
    font-size: 2rem;
    margin-top: 10px;
    margin-left: 10px;
  }
  main .contenedor {
    display: flex;
    flex-direction: row;
  }
  main .contenedor img {
    height: 200px;
    width: 200px;
    border: solid red;
    margin-left: 10px;
    margin-left: 10px;
  }
  main .dv {
    display: flex;
    justify-content: space-around;
  }
  main .dv div {
    margin-top: 20px;
  }
  main .dv div p {
    font-size: 2rem;
  }
  main .dv div iframe {
    height: 400px;
    width: 400px;
  }
  main .dv div h2 {
    color: green;
    font-size: 4rem;
  }
  main .dv div form ul {
    list-style: none;
  }
  main .dv div form ul li {
    font-size: 2rem;
    color: white;
  }
}
main {
  background-color: black;
}
main h1 {
  color: 2rem;
  text-align: center;
  font-size: 2rem;
}
main h2 {
  color: blueviolet;
}
main .div1 p {
  color: white;
}
main .div2 {
  display: flex;
  flex-direction: column;
}
main .div2 img {
  height: 100px;
  width: 100px;
}

.carousel-item {
  height: 200px;
  width: 150px;
}

p {
  color: white;
}

/* footer */
footer {
  height: 100%;
  background-color: yellowgreen;
}
footer img {
  height: 40px;
  width: 50px;
}
footer ul {
  list-style: none;
}

@media (min-width: 800px) {
  ::-webkit-scrollbar {
    display: none;
  }
  .navbar {
    font-size: 2rem;
  }
  main h1 {
    font-size: 6rem;
    color: red;
  }
  main .p-a {
    font-size: 1.8rem;
    margin-top: 10px;
    margin-left: 10px;
  }
  main h2 {
    font-size: 4rem;
    color: blue;
    margin-left: 10px;
  }
  main .div2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  main .div2 img {
    height: 200px;
    width: 300px;
    margin-top: 40px;
  }
  .carousel-item {
    height: 300px;
    width: 300px;
    margin-top: 40px;
    margin-left: 10px;
  }
  footer {
    height: 100%;
    background-color: yellowgreen;
  }
  footer div h3 {
    color: red;
  }
  footer div ul {
    display: flex;
    justify-content: space-between;
  }
  footer div ul li a {
    color: red;
    font-size: 2rem;
  }
  footer div {
    margin-left: 200px;
  }
  footer div img {
    height: 60px;
    width: 60px;
  }
}

/*# sourceMappingURL=estilo.css.map */
