/* hip-hop */
main .p-hh {
  color: white;
}
main .img-h {
  height: 80px;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 180px;
}

@media (min-width: 800px) {
  main .p-hh {
    font-size: 1.5rem;
    color: white;
  }
  main .img-h {
    height: 300px;
    width: 300px;
  }
  main .col.h {
    display: flex;
    flex-direction: column;
  }
  main .col.h iframe {
    margin-left: 400px;
  }
  main .display {
    display: flex;
    flex-direction: row;
  }
  main .display div {
    margin-top: 10px;
    margin-left: 50px;
  }
  main .display div img {
    height: 200px;
    width: 300px;
  }
}
/* pop */
main .conteiner .item1 p {
  color: goldenrod;
  margin-top: 20px;
}
main .conteiner .item2 {
  display: flex;
  justify-content: center;
}
main .conteiner .item2 img {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-left: 20px;
}
main .conteiner .item3 p {
  margin-top: 20px;
  color: goldenrod;
}
main .conteiner .item3 img {
  margin-left: 180px;
  margin-bottom: 10px;
  height: 100px;
  width: 100px;
}

@media (min-width: 720px) {
  .conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "item1 item1 item1" "item3 item3 item2" "item3 item3 item2";
  }
  .conteiner .item1 {
    grid-area: item1;
  }
  .conteiner .item1 p {
    font-size: 1.5rem;
  }
  .conteiner .item2 {
    grid-area: item2;
    margin-top: 100px;
  }
  .conteiner .item3 {
    grid-area: item3;
  }
  .conteiner .item3 p {
    font-size: 1.5rem;
  }
}
/* rock */
main .p-rock {
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}
main .garage img {
  margin-left: 150px;
  height: 100px;
  width: 100px;
}
main .garage p {
  color: red;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

@media (min-width: 720px) {
  main .p-rock {
    color: white;
  }
  .garage {
    display: flex;
    justify-content: center;
  }
  .garage img {
    height: 200px;
    width: 300px;
    margin-top: 80px;
    margin-right: 20px;
  }
  .garage p {
    font-size: 1.5rem;
  }
}
/* mensaje */
main .animacion {
  color: goldenrod;
  text-align: center;
  margin: 10px auto;
  animation-name: musica;
  animation-duration: 4s;
  animation-iteration-count: 2;
  animation-delay: 3s;
}
@keyframes musica {
  0% {
    color: goldenrod;
  }
  25% {
    color: red;
    transform: skew(20deg);
  }
  75% {
    color: red;
  }
  100% {
    color: goldenrod;
  }
}
main .parrafo {
  color: greenyellow;
  font-size: 1rem;
  margin-left: 5px;
  margin-right: 5px;
}
main .contenedor {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
main .contenedor img {
  margin-left: 180px;
  margin-top: 10px;
  height: 80px;
  width: 80px;
}
main .dv {
  margin-left: 30px;
}
main .dv p {
  color: white;
}
main div h2 {
  color: blueviolet;
}
main div form {
  color: white;
  margin-bottom: 10px;
}
main div form ul li {
  list-style: none;
}

@media (min-width: 720px) {
  main .parrafo {
    color: white;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-left: 10px;
  }
  main .contenedor {
    display: flex;
    flex-direction: row;
  }
  main .contenedor img {
    height: 200px;
    width: 200px;
    border: solid red;
    margin-left: 10px;
  }
  main .dv {
    display: flex;
    flex-direction: row;
  }
  main .dv div {
    margin-top: 20px;
  }
  main .dv div p {
    font-size: 2rem;
    color: white;
  }
  main .dv div iframe {
    height: 400px;
    width: 400px;
  }
  main .dv div h2 {
    color: green;
    font-size: 2rem;
    margin-top: 100px;
    margin-bottom: 80px;
  }
  main .dv div form ul {
    list-style: none;
  }
  main .dv div form ul li {
    font-size: 0.8rem;
    color: white;
  }
  footer .contenedor-m {
    display: flex;
    justify-content: space-around;
  }
}
/* index */
main {
  background-color: black;
  width: 100%;
}
main h1 {
  color: yellowgreen;
  text-align: center;
  font-size: 1.5rem;
}
main h2 {
  font-size: 1.5rem;
  color: blueviolet;
  margin-left: 10px;
}
main .div1 p {
  font-size: 1rem;
  color: white;
  margin-left: 10px;
}
main .div2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .div2 img {
  height: 100px;
  width: 100px;
  margin-top: 10px;
}

/* footer */
footer {
  height: 100%;
  background-color: yellowgreen;
}
footer .col ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
footer .col ul h3 {
  font-size: 1rem;
  color: red;
}
footer .col ul li {
  display: flex;
  align-items: baseline;
}
footer .col ul li a {
  display: flex;
  align-items: end;
  font-size: 0.8rem;
  color: red;
}

.img-f {
  display: flex;
  justify-content: center;
}
.img-f img {
  height: 40px;
  width: 50px;
}

@media (min-width: 720px) {
  .navbar {
    font-size: 2rem;
  }
  main h1 {
    color: red;
    font-size: 4rem;
  }
  main h2 {
    font-size: 2rem;
  }
  main .div1 p {
    font-size: 1.5rem;
  }
  main .div2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  main .div2 img {
    height: 150px;
    width: 150px;
  }
  footer {
    height: 100%;
    background-color: yellowgreen;
  }
  footer div h3 {
    color: red;
  }
  footer div ul {
    display: flex;
    justify-content: space-between;
  }
  footer div ul li a {
    color: red;
    font-size: 2rem;
  }
  footer div {
    margin-left: 200px;
  }
  footer div img {
    height: 60px;
    width: 60px;
  }
}

/*# sourceMappingURL=estilo.css.map */
