@use "variables.scss";
@use "colores.scss";

/* hip-hop */

main{
    .p-hh{
        color: white;
    }
    .img-h{
        height: 80px;
        width: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 180px;
    }
}

@media (min-width: 800px) {
    main{
        .p-hh{
            font-size: variables.$size1;
            color: white;
        }
        .img-h{
            height: 300px;
            width: 300px;
        }
        .col.h{
            display: flex;
            flex-direction: column;
            iframe{
                margin-left: 400px;
            }
        }
        .display{
            display: flex;
            flex-direction: row;
            div{ margin-top: 10px;
                margin-left: 50px;
                img{
                height: 200px;
                width: 300px;
                }
            }
        }
    }
    }



