@use "variables.scss";
@use "colores.scss";

*{
    margin: 0%;
    padding-left: 0%;
}

html{
    font-size: 62.5%;
}


/* main */
.animacion{
    color: goldenrod;
    text-align: center;
    margin: 10px auto;
    animation-name: musica;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-delay: 3s;
}

@keyframes musica {
    0%{
        color: goldenrod;
    }
    25%{
    color: red;
    transform: skew(20deg)
    }
    75%{
    color: red;
    }
    100%{
    color: goldenrod;
    }

}

.parrafo{
    color: greenyellow;
    font-size: 1.5rem;
}

.contenedor{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    img{
        height: 80px;
        width: 80px;
    }
}

footer{
    height: 100%;
    .m-f{
        display: flex;
        justify-content: space-evenly;
    }
    .p-de-f{
        color: black;
        font-size: 1rem;
        text-align: center;
    }
}

@media (min-width: 800px) {
    main{
        .parrafo{
            color: white;
            font-size:2rem;
            margin-top: 10px;
            margin-left: 10px;
        }
        .contenedor{
            display: flex;
            flex-direction: row;
            img{
                height: 200px;
                width: 200px;
                border: solid red;
            margin-left: 10px;
            margin-left: 10px;
        }
    }
    .dv{
        display: flex;
        justify-content: space-around;
        div{
            margin-top: 20px;
            p{
                font-size: variables.$size2;
            }
            iframe{
                height: 400px;
                width: 400px;
            }
        }
        div{
            h2{
                color: green;
                font-size: variables.$size3;
            }
            form{
                ul{
                    list-style: none;
                    li{
                    font-size: variables.$size2;
                    color: white;
                    }
            }
            }
        }
    }
    }
    }