@use "variables.scss";
@use "colores.scss";

/* mensaje */
main{
    .animacion{
        color: goldenrod;
        text-align: center;
        margin: 10px auto;
        animation-name: musica;
        animation-duration: 4s;
        animation-iteration-count: 2;
        animation-delay: 3s;
    }
    
    @keyframes musica {
        0%{
            color: goldenrod;
        }
        25%{
        color: colores.$bcg-color1;
        transform: skew(20deg)
        }
        75%{
        color: colores.$bcg-color1
        }
        100%{
        color: goldenrod;
        }
    
    }
    
    .parrafo{
        color: colores.$bcg-color5;
        font-size: 1rem;
        margin-left: 5px;
        margin-right: 5px;
    }

    .contenedor{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        img{
            margin-left: 180px;
            margin-top: 10px;
            height: 80px;
            width: 80px;
        }
    }
    .dv{
        margin-left: 30px;
        p{
            color: white;
        }
    }
    div{
        h2{
        color: colores.$bcg-color3;
        }
        form{
            color: white;
            margin-bottom: 10px;
            ul{
                li{
                    list-style: none;
                }
            }
        }
    }
}


@media (min-width: 720px) {
    main{
        .parrafo{
            color: white;
            font-size:variables.$size1;
            margin-top: 10px;
            margin-left: 10px;
        }
        .contenedor{
            display: flex;
            flex-direction: row;
            img{
                height: 200px;
                width: 200px;
                border: solid colores.$bcg-color1;
            margin-left: 10px;
        }
    }
    .dv{
        display: flex;
        flex-direction: row;
        div{
            margin-top: 20px;
            p{
                font-size: variables.$size2;
                color: white;
            }
            iframe{
                height: 400px;
                width: 400px;
            }
        }
        div{
            h2{
                color: green;
                font-size: variables.$size2;
            margin-top: 100px;
            margin-bottom: 80px;
            }
            form{
                ul{
                    list-style: none;
                    li{
                    font-size: 0.8rem;
                    color: white;
                    }
            }
            }
        }
    }
    }
    footer{
    .contenedor-m{
        display: flex;
        justify-content: space-around;
    }
    }
        }
