@use "variables.scss";
@use "colores.scss";

/* pop */
main{
    .conteiner{
        .item1{
            p{
                color: goldenrod;
                margin-top: 20px;
            }
        }
        .item2{display: flex;
            justify-content: center;
            img{
                width: 150px;
                height: 150px;
                margin-top: 20px;
                margin-left: 20px;
            }
        }

        .item3{
            p{
                margin-top: 20px;
                color: goldenrod;
            }
            img{
                margin-left: 180px;
                margin-bottom: 10px;
                height:100px;
                width: 100px;
            }
        }
    }
}

@media (min-width: 720px) {
    .conteiner{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "item1 item1 item1"
        "item3 item3 item2"
        "item3 item3 item2";
        
        .item1{
            grid-area: item1;
            p{
                font-size: variables.$size1;
            }
        }
        .item2{
        grid-area: item2;
        margin-top: 100px;
        }
        .item3{
        grid-area: item3;
        p{
            font-size: variables.$size1;
        }
    }
    }
    }