@use "variables.scss";
@use "colores.scss";

/* rock */
main{
    .garage{
        img{
            margin-left: 150px;
            height: 100px;
            width: 100px;
        }
        p{
            color: colores.$bcg-color1;
            margin-bottom: 10px;
        }
    }
}

@media (min-width: 720px) {
    main{
        .padre{
            div{
                .p-rock{
                    font-size: variables.$size1;
            }
        }
    }
}
.garage{
    display: flex;
    justify-content: center;
    img{
        height: 200px;
        width: 300px;
        margin-top: 80px;
        margin-right: 20px;
        
    }
    p{
        font-size: variables.$size1;
    }
}
    }