@use "variables";
@use "colores";


html{
    font-size: 62.5%;
}

::-webkit-scrollbar{
    display: none;
}

/* rock */
.padre{
    display: flex;
    flex-direction: column;
    .item1{
        p{
            font-size: 1rem;
        }
    }
    .item2{
        img{
            height: 80px;
            width: 80px;
        }
    }
    .item3{
    p{
        color: orangered;
    }
    }
}

@media (min-width: 720px) {
    .padre{
        .item1{
            .p-rock{
            font-size:1.8rem;
            }
            }
            
            .item2{
                img{
                    height: 200px;
                    width: 200px;
                }
            }
            
            .item3{
                p{
                    color: red;
                    
                }
            }
    }
    }
