@use "variables.scss";
@use "colores.scss";
@use "hiphop.scss";
@use "pop.scss";
@use "rock.scss";
@use "mensaje.scss";

    main{
    background-color: black;
    h1{
        color: variables.$size2;
        text-align: center;
        font-size: variables.$size2;
    }
    h2{
        color: blueviolet;
    }
    .div1{
        p{
        color: white;
        }
    }
    .div2{
        display: flex;
        flex-direction: column;
        img{
            height: 100px;
            width: 100px;
        }
    }
    
}
.carousel-item{
height: 200px;
    width: 150px;
}
p{
    color: white;
}
/* footer */

footer {
    height: 100%;
    background-color: yellowgreen;
    img{
        height: 40px;
        width: 50px;
    }
    ul{
        list-style: none;
    }
}


@media (min-width: 800px){
    ::-webkit-scrollbar{
        display: none;
    }
    .navbar{
        font-size: variables.$size2;
    }
    main{
        h1{
            font-size: variables.$size4;
            color: colores.$bcg-color1;
        }
        .p-a{
            font-size: variables.$size6;
            margin-top: 10px;
            margin-left: 10px;
        }
        h2{
            font-size: variables.$size3;
            color: colores.$bcg-color2;
            margin-left: 10px;
        }
        .div2{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            img{
                height: 200px;
                width:300px;
                margin-top: 40px;
            }
        }
}

.carousel-item{
    height: 300px;
    width: 300px;
    margin-top: 40px;
    margin-left: 10px;
}

footer{
    height: 100%;
    background-color: yellowgreen;
    div{
        h3{
            color: red;
            }
            ul{ 
                display: flex;
                justify-content: space-between;
                
                li{
                    a{
                        color: red;
                    font-size: variables.$size2;
                    }
                }
            }
    }
    div{
        margin-left: 200px;
        img{
            height: 60px;
            width: 60px;
        }
    }
}
}
